<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="6e1ac77425ec4080bf145a3ae5245ff2" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_6e1ac77425ec4080bf145a3ae5245ff2 = echarts.init(
            document.getElementById('6e1ac77425ec4080bf145a3ae5245ff2'), 'white', {renderer: 'canvas'});
        var option_6e1ac77425ec4080bf145a3ae5245ff2 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u65c5\u5ba2\u8fd0\u8f93\u91cf",
            "data": [
                1793820.33,
                1848620.12,
                1900194.34,
                1943271.0,
                2032217.81,
                2122991.55,
                3804034.9,
                3526318.73,
                3269508.17,
                2976897.83
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u94c1\u8def\u5ba2\u8fd0\u91cf",
            "data": [
                1793820.33,
                1848620.12,
                1900194.34,
                1943271.0,
                2032217.81,
                2122991.55,
                3804034.9,
                3526318.73,
                3269508.17,
                2976897.83
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u516c\u8def\u5ba2\u8fd0\u91cf",
            "data": [
                1793820.33,
                1848620.12,
                1900194.34,
                1943271.0,
                2032217.81,
                2122991.55,
                3804034.9,
                3526318.73,
                3269508.17,
                2976897.83
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6c34\u8fd0\u5ba2\u8fd0\u91cf",
            "data": [
                1793820.33,
                1848620.12,
                1900194.34,
                1943271.0,
                2032217.81,
                2122991.55,
                3804034.9,
                3526318.73,
                3269508.17,
                2976897.83
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u822a\u7a7a\u5ba2\u8fd0\u91cf",
            "data": [
                1793820.33,
                1848620.12,
                1900194.34,
                1943271.0,
                2032217.81,
                2122991.55,
                3804034.9,
                3526318.73,
                3269508.17,
                2976897.83
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u65c5\u5ba2\u8fd0\u8f93\u91cf",
                "\u94c1\u8def\u5ba2\u8fd0\u91cf",
                "\u516c\u8def\u5ba2\u8fd0\u91cf",
                "\u6c34\u8fd0\u5ba2\u8fd0\u91cf",
                "\u822a\u7a7a\u5ba2\u8fd0\u91cf"
            ],
            "selected": {
                "\u65c5\u5ba2\u8fd0\u8f93\u91cf": true,
                "\u94c1\u8def\u5ba2\u8fd0\u91cf": true,
                "\u516c\u8def\u5ba2\u8fd0\u91cf": true,
                "\u6c34\u8fd0\u5ba2\u8fd0\u91cf": true,
                "\u822a\u7a7a\u5ba2\u8fd0\u91cf": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2018,
                2017,
                2016,
                2015,
                2014,
                2013,
                2012,
                2011,
                2010,
                2009
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e2d\u56fd\u8fd0\u8f93\u5ba2\u8fd0\u91cf"
        }
    ]
};
        chart_6e1ac77425ec4080bf145a3ae5245ff2.setOption(option_6e1ac77425ec4080bf145a3ae5245ff2);
    </script>
</body>
</html>
