<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e5d73fd21b7b41169426e2da0f8ae45e" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e5d73fd21b7b41169426e2da0f8ae45e = echarts.init(
            document.getElementById('e5d73fd21b7b41169426e2da0f8ae45e'), 'white', {renderer: 'canvas'});
        var option_e5d73fd21b7b41169426e2da0f8ae45e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u56fd\u5bb6\u65c5\u6e38\u6536\u5165\uff08\u5360\u603b\u51fa\u53e3\u7684\u767e\u5206\u6bd4\uff09",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2009",
                    6.392
                ],
                [
                    "2010",
                    5.86
                ],
                [
                    "2011",
                    5.5360000000000005
                ],
                [
                    "2012",
                    5.693
                ],
                [
                    "2013",
                    5.921
                ],
                [
                    "2014",
                    6.104
                ],
                [
                    "2015",
                    6.598
                ],
                [
                    "2016",
                    6.829
                ],
                [
                    "2017",
                    6.649
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u56fd\u5bb6\u65c5\u6e38\u6536\u5165\uff08\u5360\u603b\u51fa\u53e3\u7684\u767e\u5206\u6bd4\uff09"
            ],
            "selected": {
                "\u56fd\u5bb6\u65c5\u6e38\u6536\u5165\uff08\u5360\u603b\u51fa\u53e3\u7684\u767e\u5206\u6bd4\uff09": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2009",
                "2010",
                "2011",
                "2012",
                "2013",
                "2014",
                "2015",
                "2016",
                "2017"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u56fd\u5bb6\u65c5\u6e38\u6536\u5165\uff08\u5360\u603b\u51fa\u53e3\u7684\u767e\u5206\u6bd4\uff09",
            "subtext": "2009\u5e74\uff5e2018\u5e74"
        }
    ]
};
        chart_e5d73fd21b7b41169426e2da0f8ae45e.setOption(option_e5d73fd21b7b41169426e2da0f8ae45e);
    </script>
</body>
</html>
